<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hello-stefano.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFFDC72B1C5ED36F0049F234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFDC7411C5ED36F0049F234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFDC74C1C5ED36F0049F234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
